[submodule "capture-the-ether"]
	path = capture-the-ether
	url = https://github.com/ikcoin/capture-the-ether
[submodule "ethernaut"]
	path = ethernaut
	url = git@github.com:ikcoin/ethernaut-challenge.git
